.tickets {
  background-color: var(--white);
  color: var(--gold);
}

.tickets__title {
  margin-bottom: 75px;
}

.tickets__content {
  display: flex;
  gap: 60px;
}

.tickets__content-img {
  flex-shrink: 0;
}
