.visiting {
  background-color: var(--white);
  color: var(--gold);
}

.visiting__title {
  margin-bottom: 75px;
}

.visiting__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 60px 75px;
}

