
.logo {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  width: 199px;
  height: 33px;
  padding-bottom: 8px;
}

.logo__img {
  width: 49px;
}

.logo__text {
  font-family: var(--second-family);
  font-size: 28px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}