.menu-list {
    display: flex;
    gap: 55px;
}

.menu-item {
    font-weight: 100;
    letter-spacing: 0.09em;
}

.menu-link:hover {
    color: var(--gold);
}

.menu-link:active {
    color: var(--gold-link-active);
}